# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
.env/
env/
ENV/
venv.bak/
env.bak/

# Ignore environment files
*.env

# Ignore distribution/build directories
build/
dist/
*.egg-info/
.eggs/

# Ignore pytest cache
.pytest_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore local configurations
*.local

# Ignore editor and IDE files
.vscode/
.idea/
*.sublime-workspace

# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.swp
*~
